#**Adidas Sales Analysis âš½**

**Requirements**
1. **Plotly**

<hr>

#**Business problems that can be solved using this dataset:**
* **Sales Performance Analysis: Which products are excelling in sales, and which are underperforming?**
* **Regional Market Analysis: Which stores are experiencing strong sales, and which ones are lagging?**
* **Profit Margin Analysis: Does the profit margin significantly impact sales?**
* **Efficiency of Sales Methods: Which sales method is more effective - in-store or online?**
* **Price Optimization: Is there a specific price range that achieves better sales than others?**
* **Product Portfolio Optimization I: Determine which products are most profitable, segmented by location.**
* **Market Expansion Opportunities: Assess the best and worst performing stores based on their locations.**
* **Time Series Analysis: Investigate whether there has been a consistent sales trend over time or any noticeable monthly trends.**
* **Predictive Sales Analysis: Develop a forecast for monthly sales.**

<hr>

In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install datatable

Requirement already satisfied: datatable in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (1.1.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install dask

Requirement already satisfied: dask in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (2024.1.1)
Requirement already satisfied: click>=8.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from dask) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from dask) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from dask) (2024.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from dask) (23.2)
Requirement already satisfied: partd>=1.2.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from dask) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from dask) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from dask) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from dask) (6.8.0)
Requirement already satisfied: colorama in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from click>=8.1->dask) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from importlib-metadata>=4.13.0->dask) (3.17.0)
Requirement already satisfied: locket in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from partd>=1.2.0->dask) (1.0.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install seaborn
!pip install statsmodels

Requirement already satisfied: seaborn in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: statsmodels in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (0.14.1)
Requirement already satisfied: numpy<2,>=1.18 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.26.2)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.11.4)
Requirement already satisfied: pandas!=2.1.0,>=1.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (2.1.3)
Requirement already satisfied: patsy>=0.5.4 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from patsy>=0.5.4->statsmodels) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

<hr>

#**Step 1: Importing Libraries**

<hr>

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import datatable as dt  # for a better data uploading
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from dask import dataframe as dd  # for better data uploading
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.seasonal import seasonal_decompose

<hr>

#**Step 2: Data Loading**

<hr>

**Data Loading using datatable**

In [8]:
import datatable as dt
file_loc = 'D:/Python Programming/Training/AdidasAnalysis/Adidas_US_Sales.csv'
dt_df = dt.fread(file_loc)

In [9]:
dt_df

Here we are using the datatable for the analysis, since it's faster than normal pandas

In [10]:
dt_df.head()

In [11]:
# converting the datatable into pandas DataFrame
df = dt_df.to_pandas()

In [12]:
df.shape

(9648, 13)

<hr>

#**Step 3: Exploratory Data Analysis**

<hr>

In [13]:
df.shape

(9648, 13)

In total we are having 9648 sales records, with distribution across the 13 different columns

<hr>

**Data Description**

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int32
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   int32
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: int32(2), object(11)
memory usage: 904.6+ KB

Insights:
1. Invoice Data is in the format of object, we can change it to the datetime object for better clarity

<hr>

<hr>

**A check for the null values**

In [15]:
df.isnull().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

No null values detected

<hr>

<hr>

#**Step 4: Data Inspection Phase**

In [16]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,01-01-2020,Northeast,New York,New York,Men's Street Footwear,$50.00,1200,"$6,00,000","$3,00,000",50%,In-store
1,Foot Locker,1185732,02-01-2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,1000,"$5,00,000","$1,50,000",30%,In-store
2,Foot Locker,1185732,03-01-2020,Northeast,New York,New York,Women's Street Footwear,$40.00,1000,"$4,00,000","$1,40,000",35%,In-store
3,Foot Locker,1185732,04-01-2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"$3,82,500","$1,33,875",35%,In-store
4,Foot Locker,1185732,05-01-2020,Northeast,New York,New York,Men's Apparel,$60.00,900,"$5,40,000","$1,62,000",30%,In-store

In [17]:
df.tail()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
9643,Foot Locker,1185732,24-01-2021,Northeast,New Hampshire,Manchester,Men's Apparel,$50.00,64,"$3,200",$896,28%,Outlet
9644,Foot Locker,1185732,24-01-2021,Northeast,New Hampshire,Manchester,Women's Apparel,$41.00,105,"$4,305","$1,378",32%,Outlet
9645,Foot Locker,1185732,22-02-2021,Northeast,New Hampshire,Manchester,Men's Street Footwear,$41.00,184,"$7,544","$2,791",37%,Outlet
9646,Foot Locker,1185732,22-02-2021,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,$42.00,70,"$2,940","$1,235",42%,Outlet
9647,Foot Locker,1185732,22-02-2021,Northeast,New Hampshire,Manchester,Women's Street Footwear,$29.00,83,"$2,407",$650,27%,Outlet

Insights:
1. Retailer, Region, State, City, Product, Sales Method are having the ordinal category values

2. Retailer ID can be the unique value column

3. Operating Margin can be useful

4. There are some characters in the numerical values, so we need to seperate them as well

<hr>

<hr>

**Working with the insights**

In [18]:
# seperating the extra characters from the numerical columns

df['Total Sales'] = df['Total Sales'].astype(str).str.replace(r'[$, ]', '', regex=True).astype(float)
df['Units Sold'] = df['Units Sold'].astype(str).str.replace(r'[$, ]', '', regex=True).astype(float)
df['Operating Profit'] = df['Operating Profit'].astype(str).str.replace(r'[$, ]', '', regex=True).astype(float)
df['Operating Margin'] = df['Operating Margin'].astype(str).str.replace(r'[%, ]', '', regex=True).astype(float)

In [19]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,01-01-2020,Northeast,New York,New York,Men's Street Footwear,$50.00,1200.0,600000.0,300000.0,50.0,In-store
1,Foot Locker,1185732,02-01-2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,1000.0,500000.0,150000.0,30.0,In-store
2,Foot Locker,1185732,03-01-2020,Northeast,New York,New York,Women's Street Footwear,$40.00,1000.0,400000.0,140000.0,35.0,In-store
3,Foot Locker,1185732,04-01-2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850.0,382500.0,133875.0,35.0,In-store
4,Foot Locker,1185732,05-01-2020,Northeast,New York,New York,Men's Apparel,$60.00,900.0,540000.0,162000.0,30.0,In-store

In [20]:
# converting the date to datetime object
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'], format='%d-%m-%Y')

In [21]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,$50.00,1200.0,600000.0,300000.0,50.0,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,$50.00,1000.0,500000.0,150000.0,30.0,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,$40.00,1000.0,400000.0,140000.0,35.0,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850.0,382500.0,133875.0,35.0,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,$60.00,900.0,540000.0,162000.0,30.0,In-store

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int32
 2   Invoice Date      9648 non-null   datetime64[ns]
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   float64
 9   Total Sales       9648 non-null   float64
 10  Operating Profit  9648 non-null   float64
 11  Operating Margin  9648 non-null   float64
 12  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(4), int32(1), object(7)
memory usage: 942.3+ KB

<hr>

#**BP1: Sales Performance Analysis**

**Which product are excelling in sales, and which are underperforming?**

In [23]:
# finding the total revenue
total_revenue = df['Total Sales'].sum()
print(f'The total Revenue: {total_revenue}')

The total Revenue: 899902125.0

In [24]:
# Aggregating the total sales and units sold for each product
prod_sales = df.groupby('Product').agg({'Total Sales':'sum', 'Units Sold':'sum'}).reset_index()
# sorting product by the total values by decreasing to find the top prod
top_prod = prod_sales.sort_values(by='Total Sales', ascending = False)
# results
print('The top performing Products in the dataset')
top_prod

The top performing Products in the dataset

                     Product  Total Sales  Units Sold
2      Men's Street Footwear  208826244.0    593320.0
3            Women's Apparel  179038860.0    433827.0
1    Men's Athletic Footwear  153673680.0    435526.0
5    Women's Street Footwear  128002813.0    392269.0
0              Men's Apparel  123728632.0    306683.0
4  Women's Athletic Footwear  106631896.0    317236.0

Insights:

* The **Men's Street Footwear** are the most selling item in the entire dataset, with total sales value of 208826244

In [25]:
# reversing the list to find the least performing product
least_prod = prod_sales.sort_values(by = 'Total Sales')
print('Least Performed')
least_prod

Least Performed

                     Product  Total Sales  Units Sold
4  Women's Athletic Footwear  106631896.0    317236.0
0              Men's Apparel  123728632.0    306683.0
5    Women's Street Footwear  128002813.0    392269.0
1    Men's Athletic Footwear  153673680.0    435526.0
3            Women's Apparel  179038860.0    433827.0
2      Men's Street Footwear  208826244.0    593320.0

Insights:

* From here we can clearly see that the **Women's Athletic Footwear** is the one which having the lowest sales in all, with values of 106631896

<hr>

<hr>

#**BP2: Regional Market Analysis**

**Which stores are experiencing strong sales, and which ones are lagging**

In [26]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,$50.00,1200.0,600000.0,300000.0,50.0,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,$50.00,1000.0,500000.0,150000.0,30.0,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,$40.00,1000.0,400000.0,140000.0,35.0,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850.0,382500.0,133875.0,35.0,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,$60.00,900.0,540000.0,162000.0,30.0,In-store

For this we need to work with the cities to find out the best and the worst performing stores

In [27]:
# cities that are unique
unique_cities = df['City'].unique()
print(f'The unique cities: {unique_cities}')

The unique cities: ['New York' 'Houston' 'San Francisco' 'Los Angeles' 'Chicago' 'Dallas'
 'Philadelphia' 'Las Vegas' 'Denver' 'Seattle' 'Miami' 'Minneapolis'
 'Billings' 'Knoxville' 'Omaha' 'Birmingham' 'Portland' 'Anchorage'
 'Honolulu' 'Orlando' 'Albany' 'Cheyenne' 'Richmond' 'Detroit' 'St. Louis'
 'Salt Lake City' 'New Orleans' 'Boise' 'Phoenix' 'Albuquerque' 'Atlanta'
 'Charleston' 'Charlotte' 'Columbus' 'Louisville' 'Jackson' 'Little Rock'
 'Oklahoma City' 'Wichita' 'Sioux Falls' 'Fargo' 'Des Moines' 'Milwaukee'
 'Indianapolis' 'Baltimore' 'Wilmington' 'Newark' 'Hartford' 'Providence'
 'Boston' 'Burlington' 'Manchester']

In [28]:
# how many are there
noOfCities = df['City'].nunique()
print(f'The total number of unique cities: {noOfCities}')

The total number of unique cities: 52

In [29]:
# grouping the cities and retailers and summing up the units sold
unitsCities = df.groupby(['City', 'Retailer'])['Units Sold'].sum().reset_index()

# sorting the results withing the city to find the top and worst store
sortedDf = unitsCities.sort_values(by = ['City', 'Units Sold'], ascending = [True, False])

# getting the performers
topStore = sortedDf.groupby('City').head(1)

# worst
leastStore = sortedDf.groupby('City').tail(1)

In [30]:
# results
print('Top Performing Store in Each City')
topStore.head()

Top Performing Store in Each City

          City       Retailer  Units Sold
1       Albany      West Gear     47133.0
2  Albuquerque         Kohl's     43752.0
4    Anchorage         Amazon     26749.0
7      Atlanta  Sports Direct     41414.0
8    Baltimore    Foot Locker      9322.0

In [31]:
# least performing cities
print('Least Performing Store in city')
leastStore.head()

Least Performing Store in city

           City       Retailer  Units Sold
0        Albany         Kohl's     10053.0
3   Albuquerque  Sports Direct      8881.0
5     Anchorage    Foot Locker      4066.0
6       Atlanta    Foot Locker     14977.0
10    Baltimore      West Gear      5647.0

The list of all the store that are least performing in each city

<hr>

<hr>

#**Profit Margin Analysis**

**Does the operating profit significantly impact sales**

In [32]:
def corrnFunc(val):
  if val >=0.90:
    return f'The value of correlation is {val}, that shows high correlation between both entities'
  elif val >=0.70 and val<0.90:
    return f'The values of correlation is {val}, that should a positive correlation that is not that bad'
  else:
    return 'Weak correlation'

In [33]:
# checking the correlation between Operating profit and total sales
corrn = df['Operating Profit'].corr(df['Total Sales'])
corrnFunc(corrn)

'The value of correlation is 0.9563074748281607, that shows high correlation between both entities'

In [34]:
# checking the correlation between Operating profit and Units Sold
corrn = df['Operating Profit'].corr(df['Units Sold'])
corrnFunc(corrn)

'The values of correlation is 0.8923794236295572, that should a positive correlation that is not that bad'

Insights:

* The correlation for the both the comparison are high.

* This indicates that if the total sales will go up then the Operating Profit will also go up.

* **So the answer is Yes, the operating Profit does affect Units Sold in a positive way**

<hr>

<hr>

#**BP4: Efficiency of Sales Methods**

**Which Sales method is more effective --> In-store or online**

In [35]:
# finding the unique cols in df
salesMeth = df["Sales Method"].unique()
print(f'The available sales methods: {salesMeth}')

The available sales methods: ['In-store' 'Outlet' 'Online']

In [36]:
# using plotly we will try to plot these all
!pip install us

Requirement already satisfied: us in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (3.1.1)
Requirement already satisfied: jellyfish==0.11.2 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from us) (0.11.2)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
from us import states
stateCol = df['State']

# Getting the two letter short names of the state names
stateName = []
for x in stateCol:
  try:
    # finding the name for the states
    name = states.lookup(x).abbr
  except AttributeError:
    # incase we are not able to find the same, we set the Name to Unknown / None
    name = 'Unknown'
  stateName.append(name)

In [38]:
# creating a new column having the shortforms
df['State_ShortForm'] = stateName
df['State_ShortForm'].head()

0    NY
1    NY
2    NY
3    NY
4    NY
Name: State_ShortForm, dtype: object

In [39]:
df['State_ShortForm'].unique()

array(['NY', 'TX', 'CA', 'IL', 'PA', 'NV', 'CO', 'WA', 'FL', 'MN', 'MT',
       'TN', 'NE', 'AL', 'ME', 'AK', 'HI', 'WY', 'VA', 'MI', 'MO', 'UT',
       'OR', 'LA', 'ID', 'AZ', 'NM', 'GA', 'SC', 'NC', 'OH', 'KY', 'MS',
       'AR', 'OK', 'KS', 'SD', 'ND', 'IA', 'WI', 'IN', 'WV', 'MD', 'DE',
       'NJ', 'CT', 'RI', 'MA', 'VT', 'NH'], dtype=object)

In [40]:
!pip install --upgrade nbformat
!pip install --upgrade plotly

Requirement already satisfied: nbformat in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from nbformat) (4.19.2)
Requirement already satisfied: jupyter-core in c:\users\aman raghuvanshi\appdata\roaming\python\python311\site-packages (from nbformat) (5.7.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\aman raghuvanshi\appdata\roaming\python\python311\site-packages (from nbformat) (5.14.1)
Requirement already satisfied: attrs>=22.2.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.11.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (0.31.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (0.12.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\aman raghuvanshi\appdata\roaming\python\python311\site-packages (from jupyter-core->nbformat) (4.1.0)
Requirement already satisfied: pywin32>=300 in c:\users\aman raghuvanshi\appdata\roaming\python\python311\site-packages (from jupyter-core->nbformat) (306)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: plotly in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (5.18.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\aman raghuvanshi\appdata\local\programs\python\python311\lib\site-packages (from plotly) (23.2)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

**Using the choropleth Map trying to plot Sales by each state, product and sales Method in US**

In [42]:
df['Total Sales'] = df['Total Sales'].replace('[$,]', "", regex = True).astype(float)

# making canvas
fig = go.Figure()
#all the unique products and sales method
prod = df['Product'].unique()
salesMeth = df['Sales Method'].unique()

# adding the traces for each combination of products and sales
for x in prod:
  for y in salesMeth:
    filterDf = df[(df['Product']==x) & (df['Sales Method']==y)]
    stateSales = filterDf.groupby('State_ShortForm')['Total Sales'].sum().reset_index()

    fig.add_trace(
        go.Choropleth(
            locations = stateSales['State_ShortForm'],
            z = stateSales['Total Sales'],
            locationmode = 'USA-states',
            colorscale = 'tealrose',
            name = f'{x} - {y}',
            showscale = True,
            visible = False, # hidding all traces initially
        )
    )


# updating the layout with dropdowns (this is for products)
prod_button = [
    {'label': x,
     'method':'update',
     'args':[{'visible':[traces.name.startswith(x) for traces in fig.data]}]}
    for x in prod
]

# updating the same for sales
sales_button = [
    {'label': y,
     'method':'update',
     'args':[{'visible':[y in trace.name for trace in fig.data]}]}
    for y in salesMeth
]

fig.update_layout(
    updatemenus = [
        {'buttons':prod_button,
         'direction':'down',
         'showactive': True,
         'x':0.25,
         'xanchor':'left',
         'y':1.15,
         'yanchor':'top'
         },
        {'buttons':sales_button,
         'direction':'down',
         'showactive': True,
         'x':0.75,
         'xanchor':'left',
         'y':1.15,
         'yanchor':'top'
         }],
    geo = dict(scope = 'usa'),
    title = 'Total Sales by State, Product and Sales Method available'
)

# displaying the first product and first sales
if fig.data:
  fig.data[0].visible = True

fig.show()

'aggrnyl', 'agsunset', 'algae', 'amp', 'armyrose', 'balance',
             'blackbody', 'bluered', 'blues', 'blugrn', 'bluyl', 'brbg',
             'brwnyl', 'bugn', 'bupu', 'burg', 'burgyl', 'cividis', 'curl',
             'darkmint', 'deep', 'delta', 'dense', 'earth', 'edge', 'electric',
             'emrld', 'fall', 'geyser', 'gnbu', 'gray', 'greens', 'greys',
             'haline', 'hot', 'hsv', 'ice', 'icefire', 'inferno', 'jet',
             'magenta', 'magma', 'matter', 'mint', 'mrybm', 'mygbm', 'oranges',
             'orrd', 'oryel', 'oxy', 'peach', 'phase', 'picnic', 'pinkyl',
             'piyg', 'plasma', 'plotly3', 'portland', 'prgn', 'pubu', 'pubugn',
             'puor', 'purd', 'purp', 'purples', 'purpor', 'rainbow', 'rdbu',
             'rdgy', 'rdpu', 'rdylbu', 'rdylgn', 'redor', 'reds', 'solar',
             'spectral', 'speed', 'sunset', 'sunsetdark', 'teal', 'tealgrn',
             'tealrose', 'tempo', 'temps', 'thermal', 'tropic', 'turbid',
             'turbo', 'twilight', 'viridis', 'ylgn', 'ylgnbu', 'ylorbr',
             'ylorrd'

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int32
 2   Invoice Date      9648 non-null   datetime64[ns]
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   float64
 9   Total Sales       9648 non-null   float64
 10  Operating Profit  9648 non-null   float64
 11  Operating Margin  9648 non-null   float64
 12  Sales Method      9648 non-null   object
 13  State_ShortForm   9648 non-null   object
dtypes: datetime64[ns](1), float64(4), int32(1), object(8)
memory usage: 1017.7+ KB

In [44]:
# working on the method to segment and aggregate data by Sales
salesData = df.groupby('Sales Method').agg({'Total Sales': 'sum', 'Operating Profit': 'sum'})

# Calculating the Operating Margin for each sales method
salesData['Operating Margin'] = salesData['Operating Profit'] / salesData['Total Sales']

salesData

              Total Sales  Operating Profit  Operating Margin
Sales Method
In-store      356643750.0       127591382.0          0.357756
Online        247672882.0        96555337.0          0.389850
Outlet        295585493.0       107988403.0          0.365337

In [46]:
#Which method is best
# Segmenting and aggregating data by 'Sales Method'
salesData = df.groupby('Sales Method').agg({'Total Sales': 'sum', 'Operating Profit': 'sum'})

# Calculating the Operating Margin for each sales method
salesData['Operating Margin'] = salesData['Operating Profit'] / salesData['Total Sales']

salesData

              Total Sales  Operating Profit  Operating Margin
Sales Method
In-store      356643750.0       127591382.0          0.357756
Online        247672882.0        96555337.0          0.389850
Outlet        295585493.0       107988403.0          0.365337

What are the information that we are getting from here:

1. **Total Sales**
  * In-store: 35,66,43,750
  * Online: 24,76,72,882
  * Outlet: 29,55,85,493

  Hence, it could be concluded from here that the highest sales was done by In-store purchases, followed by Online and then outlets

2. **Operating Profit**
  * In-store: 12, 75, 91, 300 
  * Online: 9,65,55,180
  * Outlet: 10, 79, 88, 300

  Similar to as of the total sales, in store sales lead in operating profit, followed by the outler and then online

3. **Operating Margin** 
  * In-store: 0.3577 (or 35.7%)
  * Online: 0.3898 (or 38.98%)
  * Outlet: 0.3653 (or 36.53%)

While in-stores generate the most overall sales and profit, but online stores are actually more efficient in terms of profit per sale. Here's the breakdown:

* In-store:

  * Wins in total sales and profit: brings in the most money overall.

* Online:

  * Shines in operating margin: makes more profit compared to its sales volume.

* The Verdict:

  * It depends on your priorities:

    * Maximize total sales and profit? Go in-store.
    * Prioritize efficiency and profit per sale? Choose online.
Bonus: Many businesses use both channels (omnichannel approach) to leverage the strengths of each!